/*plain css document*/
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  min-height: 100vh;
}
p {
  margin: 0;
}
img {
  display:block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  color: var(--accent-text) !important;
}
main {
  max-width: 100%;
}
:root {
  --accent-color: #B1C8E3;
  --accent-text: #f00;
  --texture: url(/assets/white_texture.png);
  --nav-height: 108px;
  --v-gap: 30px;
}
.accent--sky-plum {
  --accent-color: #AFB5FC;
  --accent-text: #EB8734;
}
.accent--coral {
  --accent-color: #F6917F;
  --accent-text: #94301F;
}
.accent--yellow {
  --accent-color: #FCD081;
  --accent-text: #D48500;
}
.accent--frc-blue {
  --accent-color: #2663A6;
  --accent-text: #099CD7;
}
.accent--guild-green {
  --accent-color: #B9D7A8;
  --accent-text: #48901C;
}
.accent--internet-blue {
  --accent-color: #0600bb;
}

.fill--texture,
.nav::after,
.card:hover .card--image::after,
.card:focus .card--image::after {
  background-image: url(/assets/white_texture.png);
  /*background-blend-mode: multiply;*/
}
.fun-cursor {
  cursor: url(/assets/hicursor.svg) 22 16, auto;
}
.rectangle {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: var(--accent-color);
}

.box {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

.viewport {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  min-height: 100vh;
  padding-top: var(--nav-height);
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 25px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.sidebar-nav {
  flex-grow: 1;
  flex-shrink: 1;
}

.card {
  display: block;
  position: relative;
  width: 100%;
}
.card--image {
  position: relative;
}
.card--image::after {
  bottom: 0;
  content: "";
  left: 0;
  height: 7px;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.card--title {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.card--client {
  padding: 5px 0 0 0;
  color: #0600bb;
}
.card--description {
  font-family: Roboto Slab, serif;
  padding-top: 8px;
}
.card--description p {
  margin-bottom: 12px;
}
.card--description a {
  color: var(--accent-color);
}
.card--email {
  margin-bottom: 10px;
}
.card--bold {
  font-weight: 700;
}
.card--confetti {
  color: var(--accent-color);
  position: absolute;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.square {
  width: 50px;
}
.circle {
  width: 60px;
}
.wiggle {
  width:70px;
}
.card:nth-child(1) .circle {
  top: 30%;
  left: -30px;
}
.card:nth-child(2) .circle {
  top: -5%;
  right: 40px;
}
.card:nth-child(3) .circle {
  bottom: 30%;
  left: -15px;
}
.card:nth-child(4) .circle {
  bottom: 40%;
  right: -30px;
}
.card:nth-child(1) .wiggle {
  top: -8%;
  right: -15px;
  transform: rotate(40deg);
}
.card:nth-child(2) .wiggle {
  bottom: 30%;
  right: -20px;
  transform: rotate(-40deg);
}
.card:nth-child(3) .wiggle {
  top: -5%;
  left: -20px;
  transform: rotate(70deg);
}
.card:nth-child(4) .wiggle {
  bottom: 35%;
  left: -30px;
  transform: rotate(40deg);
}
.card:nth-child(1) .square {
  bottom: 22%;
  right: -20px;
  transform: rotate(30deg);
}
.card:nth-child(2) .square {
  bottom: 60%;
  left: -20px;
  transform: rotate(-20deg);
}
.card:nth-child(3) .square {
  top: 5%;
  right: -5px;
  transform: rotate(70deg);
}
.card:nth-child(4) .square {
  top: -5%;
  left: 40px;
  transform: rotate(40deg);
}

.contact {
  margin: 35px 0;
}

.card--title,
.content {
  margin-top: 12px;
}

.row {
  display: flex;
  gap: 20px;
}

.nav {
  align-items: center;
  background-color: #fff;
  flex-grow: 0;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
.nav::after {
  background-color: var(--accent-color);
  bottom: 0;
  content: "";
  display: block;
  height: 7px;
  left: 0;
  position: absolute;
  width: 100%;
}

.icon {
  width: 45px;
}

.logo {
  background-color: var(--accent-color);
  display: block;
  padding: 20px 20px;
  width: 60px;
}
.logo:hover,
.logo:focus {
  color: #fff;
}

.projects {
  align-items: center;
  display: flex;
  flex-grow: 1;
}
.projects-grid {
  display: grid;
  gap: 40px;
  margin-bottom: 40px;
}
.project-view,
.gallery-view {
  margin-top: var(--v-gap);
}
.gallery-view {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.project--nav {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 35px;
}

@media (min-width: 700px) {
  .box {
    padding-left: 75px;
    padding-right: 75px;
  }
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
  .sidebar-nav {
    min-width: 300px;
  }
  .image-grid {
    grid-template-columns: 1fr 1fr;
  }
.project--nav {
  padding: 45px 0 30px;
}
}

@media (min-width: 1200px) {
  :root {
    --nav-height: 152px;
    --v-gap: 60px;
  }
  .box {
    padding-left: 100px;
    padding-right: 100px;
  }
  .projects-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .logo {
    padding: 30px 20px;
    width: 75px;
  }
  .image-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project-view {
    display: flex;
    flex-grow: 1;
    gap: 60px;
  }
}

@media (pointer: fine) {
  .card--image::before {
    background: black;
    content: "";
    height: 100%;
    mix-blend-mode: saturation;
    position: absolute;
    width: 100%;
  }
  .card:hover .card--image::after,
  .card:focus .card--image::after {
    background-color: var(--accent-color);
    opacity: 1;
  }
  .card:hover .card--image::before,
  .card:focus .card--image::before {
    background: transparent;
  }
  .card:hover .card--confetti,
  .card:focus .card--confetti {
    opacity: 1;
  }
}
