<div class="contact {{ include.class }}">

  <svg class="contact--wiggle accent--text {{include.barClass}}" viewBox="0 0 300 300">
    <use xlink:href="#wiggle" />
  </svg>

  <div>
    <h2 class="card--bold crimson-style-20">Say Hello</h2>
    <p class="card--email">
      <a href="mailto:{{ site.email }}" target="_blank"> {{ site.email }} </a>
    </p>
    <a href="/assets/fernroath_resume_2021.pdf" target="_blank">
      <h2 class="card--bold crimson-style-20">Full Resume</h2>
    </a>
  </div>
</div>
