<nav class="row box nav {{ include.class }}">
  <a href="/" class="btn">
    <svg class="icon" viewBox="0 0 255 300">
      <use xlink:href="#fern" />
    </svg>
  </a>
  <div class="row">
    <a href="{{ site.calmcactusurl }}">
      <svg class="icon" viewBox="0 0 300 300">
        <use xlink:href="#calmcactus" />
      </svg>
    </a>
    <a href="{{ site.linkedinurl }}">
      <svg class="icon" viewBox="0 0 300 300">
        <use xlink:href="#linkedin" />
      </svg>
    </a>
    <a href="{{ site.githuburl }}">
      <svg class="icon" viewBox="0 -4 41 40">
        <use xlink:href="#github" />
      </svg>
    </a>
  </div>
</nav>
