---
layout: default
---

<main>
  <div class="about-view pane">
    <div class="pane--content">
      <div class="about--content box">
        <h1> Hi, I’m Fern Roath </h1>
        <br />

        <p>I’m a designer & illustrator located in Seattle, WA.</p>
        <br />

        <p> I’ve worked primarily as a Visual Designer in the gaming Industry. I’ve had the pleasure of supporting & creating a range of works like advertisements, web, UI and in-person & virtual e-Sport events.</p>
        <br />

        <p>I like gardening, motorcycles & JRPG’s. I’m a big fan of Caroline Polachek, Galarian Slowking & my two cats.
        </p>
      </div>
      {% include contact.html class="box" barClass="chai--fill" %}
    </div>
  </div>

  <div class="gallery-view pane">
    <div class="pane--content">
      <div class="projects box">
        <div class="projects-grid">
          {% for project in page.projects %}
          <a href="{{ project.link }}" class="card {{ project.color }}">
            <div class="card--image">
              <img src="{{ project.hero }}" />
            </div>
            <div class="card--content">
            <p class="card--title">{{ project.title }}</p>
            <p class="card--client">{{ project.client }}</p>
            <p class="card--description">{{ project.description }}</p>
          </div>
            <svg class="card--confetti circle" viewBox="0 0 300 300">
              <use xlink:href="#circle" />
            </svg>
            <svg class="card--confetti wiggle" viewBox="0 0 300 300">
              <use xlink:href="#wiggle" />
            </svg>
            <svg class="card--confetti square" viewBox="0 0 300 300">
              <use xlink:href="#square" />
            </svg>
            <svg class="card--confetti sparkle" viewBox="0 0 300 300">
              <use xlink:href="#sparkle" />
            </svg>
          </a>
          {% endfor %}
        </div>
      </div>

      {% include contact.html class="box" barClass="accent--fill" %}
    </div>
  </div>
</main>
