---
layout: default
---
<style>
body {
}
.about-view {
  background: linear-gradient(135deg, #7BC2A7, #BAE3C8) fixed, #7BC2A7;
}
.about--content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  justify-content: center;
  max-width: 1000px;
  padding-top: 200px;
}

.gallery-view {
  background: #F2F0EB;
}
.gallery-content {
  padding-top: 200px;
}

.pane {
  min-height: 100vh;
  margin-bottom: -50vw;
  padding-bottom: 50vw;
}
.pane + .pane {
  clip-path: url(#curtain1);
}
.pane--content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-height:  1000px) {
  .card {
    display: flex;
  }
}

@media (min-width: 700px) {
  .pane + .pane {
    clip-path: url(#curtain2);
  }
}

@media (min-width: 1200px) {
  .pane + .pane {
    clip-path: url(#curtain3);
  }
  .pane--content {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

@media (min-width: 2000px) {
  .pane {
    margin-bottom: -10vw;
    padding-bottom: 10vw;
  }
  .pane + .pane {
    clip-path: url(#curtain4);
  }
}
</style>
<main>
  <div class="pane about-view">
    <div class="pane--content">
      <div class="about--content box">
        <h1>Hi, I’m Fern Roath </h1>

        <p>I’m a designer & illustrator located in Seattle, WA.</p>

        <p> I’ve worked primarily as a Visual Designer in the gaming Industry. I’ve had the pleasure of supporting & creating a range of works like advertisements, web, UI and in-person & virtual e-Sport events.</p>

        <p>I like gardening, motorcycles & JRPGs. I’m a big fan of Caroline Polachek, Galarian Slowking & my two cats.
        </p>
      </div>

      {% include contact.html class="box" barClass="chai--fill" %}
    </div>
  </div>

  <div class="pane gallery-view">
    <div class="pane--content">
      <div class="gallery-content projects box">
        <div class="projects-grid">
          {% for project in page.projects %}
          <a href="{{ project.link }}" class="card {{ project.color }}">
            <div class="card--image">
              <img src="{{ project.hero }}" />
            </div>
            <div class="card--content">
            <p class="card--title">{{ project.title }}</p>
            <p class="card--client">{{ project.client }}</p>
            <p class="card--description">{{ project.description }}</p>
          </div>
            <svg class="card--confetti circle" viewBox="0 0 300 300">
              <use xlink:href="#circle" />
            </svg>
            <svg class="card--confetti wiggle" viewBox="0 0 300 300">
              <use xlink:href="#wiggle" />
            </svg>
            <svg class="card--confetti square" viewBox="0 0 300 300">
              <use xlink:href="#square" />
            </svg>
            <svg class="card--confetti sparkle" viewBox="0 0 300 300">
              <use xlink:href="#sparkle" />
            </svg>
          </a>
          {% endfor %}
        </div>
      </div>

      {% include contact.html class="box" barClass="accent--fill" %}
    </div>
  </div>
</main>
