---
layout: default
---

<main class="project-view box">
  <div class="sidebar">
    <div class="sidebar-nav">
      <p class="card--title">{{ page.title }}</p>
      <p class="card--client">{{ page.client }}</p>
      <div class="card--description">{{ content }}</div>
    </div>
    <div class="contact">
      <div class="rectangle"></div>
      <p class="card--bold">Say Hello</p>
      <p class="card--email">
        <a href="mailto:{{ site.email }}" target="_blank"> {{ site.email }} </a>
      </p>
      <a href="/assets/fernroath_resume_2021.pdf" target="_blank">
        <p class="card--bold">Full Resume</p>
      </a>
    </div>
  </div>
  <div class="content">
    <div class="image-grid">
      {% for item in page.images %}
      <div><img src="{{ item }}" alt="" /></div>
      {% endfor %}
    </div>
    <div class="project--nav">
      <a href="{{ page.prev }}">&larr; Previous</a>
      <a href="{{ page.next }}">Next &rarr;</a>
    </div>
  </div>
</main>
