---
layout: default
---

{% include nav.html %}

<main class="project-view box">
  <div class="sidebar">
    <div class="sidebar-nav">
      <p class="card--title">{{ page.title }}</p>
      <p class="card--client">{{ page.client }}</p>
      <div class="card--description">{{ content }}</div>
    </div>
    {% include contact.html barClass="accent--fill" %}
  </div>
  <div class="content">
    <div class="image-grid">
      {% for item in page.images %}
      <div><img src="{{ item }}" alt="" /></div>
      {% endfor %}
    </div>
    <div class="project--nav">
      <a href="{{ page.prev }}">&larr; Previous</a>
      <a href="{{ page.next }}">Next &rarr;</a>
    </div>
  </div>
</main>
