/*plain css document*/
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  min-height: 100vh;
}
p {
  margin: 0;
}
img {
  display:block;
  max-width: 100%;
}
nav {
  background: #fff;
  border-bottom: 7px solid var(--accent-color);
  flex-grow: 0;
  position: sticky;
  top: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  color: var(--accent-color);
}
/*::selection {
  color: blue;
  background: red;
}*/
:root {
  --accent-color: var(--salt-blue);
  --salt-blue: #B1C8E3;
  --yellow: #FCD081;
  --frc-blue: #4B7DFF;
  --guild-green: #0D411F;
  --internet-blue: #0600bb;
}
.accent--salt-blue {
  --accent-color: var(--salt-blue);
}
.accent--yellow {
  --accent-color: var(--yellow);
}
.accent--frc-blue {
  --accent-color: var(--frc-blue);
}
.accent--guild-green {
  --accent-color: var(--guild-green);
}
.accent--internet-blue {
  --accent-color: var(--internet-blue);
}
.fun-cursor {
  cursor: url(/assets/hicursor.svg), auto;
}
main {
  max-width: 100%;
  overflow: hidden;
}
.rectangle {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: var(--accent-color);
}

.box {
  padding-left: 50px;
  padding-right: 50px;
}

.viewport {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  overflow-x: hidden;
  overflow-y: auto;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 25px;
}

.sidebar,
.image-grid {
  margin: 30px 0 10px 0;
}
.sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar-nav {
  flex-grow: 1;
  margin-bottom: 0px;
}

.card {
  display: block;
  width: 100%;
}
.card--image {
  border-bottom: 6px solid transparent;
  position: relative;
}
.card--title {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 12px;
}
.card--client {
  padding: 5px 0 0 0;
  color: var(--internet-blue);
}
.card--description {
  font-family: Roboto Slab, serif;
  padding: 20px 0 0 0;
}
.card--email {
  margin-bottom: 10px;
}
.card--bold {
  font-weight: 700;
}
.card--contact {
  margin-bottom: 35px;
}
.card:hover .card--image,
.card:focus .card--image {
  border-color: var(--accent-color);
}

.row {
  display: flex;
  gap: 20px;
}
.row--nav {
  align-items: center;
  justify-content: space-between;
  z-index:1;
}
.row--gallery {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 45px;
}

.logo {
  background: var(--accent-color);
  display: block;
  padding: 20px 25px;
  width: 60px;
}
.logo:hover,
.logo:focus {
  color: #fff;
}

.projects {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin: 30px 0;
}
.projects-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 900px) {
  main {
    display: flex;
    flex-grow: 1;
  }
  .viewport {
    height: 100vh;
  }
  .box {
    padding-left: 75px;
    padding-right: 75px;
  }
  .sidebar,
  .image-grid {
    margin: 60px 0 35px 0;
  }
  .image-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projects-row {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .box {
    padding-left: 100px;
    padding-right: 100px;
  }
  .logo {
    padding: 30px 15px;
    width: 75px;
  }
  .image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (pointer: fine) {
  .card--image::before {
    background: black;
    content: "";
    height: 100%;
    mix-blend-mode: saturation;
    position: absolute;
    width: 100%;
  }
  .card:hover .card--image::before,
  .card:focus .card--image::before{
    background: transparent;
  }
}
